.home{
    background-color:rgb(196, 221, 221);
    padding:5px;
}
.main-heading{
    margin:5px;
    text-align:center;
}
.content{
    margin:5px;
    padding:5px 10px;
    font-size:20px;
}
.box{
    box-shadow:5px 5px 10px grey;
    background-color:rgb(231, 227, 221);
    border-radius:5px;
    margin:5px 10px;
    display:flex;
}
.image{
    width:300px;
    margin:5px;
}

.text-box{
    padding:10px;
    margin:5px;
    flex-grow:1;
}

.heading{
    margin:5px;
    padding:5px 10px;
}