p{
    margin:3px;
    padding:3px;
}

.label-container{
    margin:3px;
    padding:3px;
}

.green{
    width:20px;
    height:20px;
    background-color:green;
}

.red{
    width:20px;
    height:20px;
    background-color:red;
}

.box{
    margin:3px;
}

.image{
    margin:3px;
    width:120px;
}

.cart-btn{
    border:none;
    padding:8px;
    font-size:16px;
    margin:3px;
    border-radius:3px;
    width:120px;
    color:white;
    font-weight:600;
    background-color:orange;
}

.box-1{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-around;
    width:25%;
    text-align:center;
}

.box-3{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-around;
    width:25%;
}

.pizza-container{
    display:flex;
    width:50%;
    margin: 10px auto;
    border-radius:5px;
    background-color:rgb(198, 233, 234);
}

.box-2{
    padding:5px;
    font-size:18px;
}