<div class="cart-container" *ngIf="cart.length>0; else emptyCart">
    <h3 class="heading">My Cart</h3>
    <table>
        <tbody>
            <tr *ngFor="let item of cart">
                <td>
                    <img [src]="item.pizza.image" [alt]="item.pizza.name" class="image">
                </td>
                <td>{{item.pizza.name|titlecase}}</td>
                <td>{{item.pizza.price|currency:'INR'}}</td>
                <td>
                    <div class="quantity-box">
                        <button class="qty-btn" (click)="decQty(item)">-</button>
                        <p>{{item.quantity}}</p>
                        <button class="qty-btn" (click)="incQty(item)">+</button>
                    </div>
                </td>
                <td>
                    {{getItemAmount(item)|currency:'INR'}}
                </td>
                <td>
                    <button class="remove-btn" (click)="removeCartItem(item)">Remove</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" >                    
                    <p  class="totalAmt">Total Amount: {{getCartAmount()|currency:'INR'}}</p>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="cart-controls-container">
        <button class="control-btn">Pay</button>
        <button class="control-btn" (click)="clearCart()">Clear</button>
    </div>
</div>

<ng-template #emptyCart>
    <div class="empty-cart-container">
        <h2 class="empty-cart-heading">Cart is Empty!</h2>
    </div>
</ng-template>