.header{
    display:flex;
    padding:5px 10px;
    align-items:center;
    justify-content: space-between;
    background-color:black;
}

.navbar{
    display:flex;
    align-items:center;
}

.btn{
    border:none;
    padding:10px;
    font-size:17px;
    cursor:pointer;
    font-weight:600;
    border-radius:2px;
    background-color:orange;
}

.logo{
    margin:5px;
    width:50px;
}

.nav-link{
    margin:5px;
    color:white;
    font-size:20px;
    padding:5px 3px;
    text-decoration: none;
}

.active{
    padding:5px;
    color:orange;
    border-radius:3px;
    border:2px solid orange;
}